body{
background-color: beige;
}
button{
    background-color: #18F20C;
  border: 1.5px;
  border-color: white;
  border-radius: 20px;
  color: white;
}
img{
    display: block;
    margin: 0 auto;
}

.btnSucess{
background-color: aqua;
}
button:hover{
    background-color: red;
    color: black;
}

p{
    text-align: center;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}